:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --third-backgrround-color: #f4f4fd;
  --primary-text-color: #434455;
  --second-text-color: #2e2f42;
  --third-text-color: #f4f4fd;
  --left-logo-color: #4d5ae5;
  --third-backrgound-color: #404bbf;
  --first-text-color:  #FFFFFF;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.text {
  text-decoration: none;
}

.link {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.header-page {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--first-text-color);
  font-weight: 700;
}


.hero-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-background-color);
  letter-spacing: 0.04em;
  background-color: var(--left-logo-color);
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--third-backrgound-color);
}

.features-list {
  display: flex;
}

.title-features {
  margin-bottom: 8px;
}

/* =================Только мобилка======================*/

@media screen and (max-width: 767px) {
  /* .container {
    max-width: 428px;
    padding: 16px 24px;
  } */

  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-container {
    padding-top: 24px;
    padding-bottom: 24px;

  }

  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--left-logo-color);
  }

  .logo-span {
    color: var(--second-text-color);
    text-transform: uppercase;
  }

  .header-address {
    display: none;
  }

  .menu-list {
    display: none;
  }

  .mobile-open-menu {
    border: none;
    width: 32px;
    height: 22px;
    background-color: transparent;
  }

  .burger-icon-menu {
    stroke: black;
    border: 3px solid #2e2f42;
  }

  .mobil-menu-close-btn {
    position: absolute;
    display: flex;
    top: 16px;
    right: 24px;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-container.is-open {
    transform: translateX(0);
  }

  .mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-background-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .mobile-social-menu-container {
    position: relative;
    padding: 80px 35px 40px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-site-nav {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--second-text-color);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--third-backrgound-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-contacts-list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .mobile-menu-contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    display: block;
    color: var(--left-logo-color);
  }

  .mobile-menu-email {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
  }

  .mobile-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-social-icons {
    width: 40px;
    height: 40px;
  }
  .mobile-social-link {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--left-logo-color);
    display: flex;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-social-link:hover,
  .mobile-social-link:focus {
    background-color: var(--third-backrgound-color);
  }

  .hero-container {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: black;
  }

  .hero-title {
 
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 320px;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  
  }

  /* =Future= */
  .features-list {
    flex-direction: column;

  }

  .title-features {
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .mobile-menu-contacts {
    font-size: 30px;
  }
}

/* ================мобилка & планшет ==================*/

@media screen and (max-width: 1157px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .icon {
    display: none;
  }

  .title-features {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
color: var(--second-text-color);
  }

  .text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

  }

  .features-list {
    row-gap: 72px;
  }

  .about {
    display: none;
  }
}



/* ================Только Планшет==================== */

@media screen and (min-width: 768px) and (max-width: 1157px) {
                /* features section */
  .container {
    max-width: 768px;
  }

  .mobile-open-menu {
    display: none;
  }

  .mobile-menu-container {
    display: none;
  }

  .features-list {
    flex-wrap: wrap;
  }

  .features-title {
    width: calc((100%-24) /2);
  }             
}

/*=========================== Планшет и дусктоп ================*/


@media screen and (min-width: 768px) {
  /* features */
  .features-list {
    column-gap: 24px;
  }
}

/* ===================Тщлько десктоп=================== */


@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
 padding-left: 15px;
  padding-right: 15px;
  }
}